.btn {
  background: #11Cdd4;
  background-image: -webkit-linear-gradient(top, #11Cdd4, #119998);
  background-image: -moz-linear-gradient(top, #11Cdd4, #119998);
  background-image: -ms-linear-gradient(top, #11Cdd4, #119998);
  background-image: -o-linear-gradient(top, #11Cdd4, #119998);
  background-image: linear-gradient(to bottom, #11Cdd4, #119998);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat",sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}